<ion-view view-title="订单确认">
  <ion-content>
    <div class="list card">
      <div class="item item-divider">选择地址</div>
      <div class="item item-body">
        <div class="icon icon-left ion-ios-location-outline"></div>
        <h2 class="royal title">上海市平乐路</h2>
        <p>18612112092</p>
      </div>
    </div>

    <div class="list card">
      <div class="item item-divider">服务类型</div>
      <div class="item item-body">
        日常保洁
      </div>
      <div class="item item-body">
        <div class="icon icon-left ion-ios-time-outline"></div>
        <input type="text" disabled="true" placeholder="请选择服务时间">
        <div class="icon icon-right ion-ios-arrow-right"></div>
      </div>

      <div class="item item-body">
        <div class="icon icon-left ion-ios-people-outline"></div>
        <input type="text" disabled="true" placeholder="选择保洁师">
        <div class="icon icon-right ion-ios-arrow-right"></div>
      </div>



    </div>

  </ion-content>
</ion-view>
