<ion-view view-title="订单">
  <ion-content>
    <ion-list>
      <a class="item">
        <div class="row item">
          <div class="col">服务到家</div>
          <div class="col col-60"></div>
          <div class="col text-right"><span style="color: red">服务到家</span></div>
        </div>
        <div class="item">
          <div class="row ">
            <div class=" icon ion-arrow-down-a">&nbsp;诸新一村</div>
            <!--<div class="col">诸新一村</div>-->
          </div>
          <div class="row ">
            <div class="icon ion-arrow-down-a">&nbsp;2015-9-2</div>
          </div>
        </div>
        <div class="row item">
          <div class="col">
            <div class="button button-assertive button-small" style="float: right">取消订单</div>
          </div>
        </div>
      </a>
    </ion-list>
  </ion-content>
</ion-view>
