<ion-view view-title="个人中心">
  <ion-nav-bar animation="nav-title-slide-ios7"
               type="bar-positive"
               back-button-type="button-icon"
               back-button-icon="ion-arrow-left-c"></ion-nav-bar>

  <ion-nav-view animation="slide-left-right"></ion-nav-view>

  <ion-content>

      <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap"
                href="#/tab/usercenter/userlogin">
        <h1>{{UserData.phone}}</h1>
      </ion-item>

  </ion-content>
</ion-view>
