<ion-tabs class="tabs-icon-top tabs-color-active-positive" ng-class="{'tabs-item-hide': $root.hideTabs}">

  <ion-tab title="首页" icon-off="ion-ios-home-outline"
           icon-on="ion-ios-home"
           href="#/tab/homepage">
    <ion-nav-view name="tab-homepage"></ion-nav-view>
  </ion-tab>

  <ion-tab title="订单" icon-off="ion-ios-list-outline"
           icon-on="ion-ios-list"
           href="#/tab/orders">
    <ion-nav-view name="tab-orders"></ion-nav-view>
  </ion-tab>

  <ion-tab title="我的" icon-off="ion-ios-person-outline"
           icon-on="ion-ios-person"
           href="#/tab/usercenter">
    <ion-nav-view name="tab-usercenter"></ion-nav-view>
  </ion-tab>

</ion-tabs>
