<ion-view view-title="手机绑定">
  <ion-content>
    <ion-list>
      <label class="item item-input">
        <input ng-model="UserData.phone" type="text" maxlength="11" placeholder="请输入手机号">
        <button class="button" ng-click="sendConfirmNo()">获取验证码</button>
      </label>
      <label class="item item-input">
        <input ng-model="UserData.matchno" type="text" placeholder="请输入验证码" maxlength="5">
      </label>
      <button class="button button-full button-positive" ng-click="ConfirmLogin()" >确认</button>
    </ion-list>
  </ion-content>
</ion-view>
