<ion-view title="Login">
  <ion-content padding="true">
    <form class="list">
      <ion-list>
        <label class="item item-input">
          <!--<span class="input-label">Username</span>-->
          <input type="text" placeholder="请输入手机号" ng-model="phonecheck.userPhoneNO">


        </label>
        <label class="item item-input">
          <!--<span class="input-label">Password</span>-->
          <input type="text" placeholder="请输入验证码" ng-model="phonecheck.userCheckCode">
        </label>
      </ion-list>
      <button class="button button-balanced button-block" ng-click="sendConfirmNo()">
        {{buttonText.sendCheckcode}}
      </button>
      <button class="button button-calm button-block " ng-click="ConfirmLogin()" ng-show="buttonText.ifsend">
        {{buttonText.sendLoginConfirm}}
      </button>
    </form>
  </ion-content>
</ion-view>
