ion-slide{
  height:200px;
  text-align:center;
}
ion-slide img{
  height:200px;
  width: 100%;
}
.rateplan_pic{
  width:100%;
  height: 250px;
  overflow-y: visible;
}
.rateplan_pic img {
  width: 100%;
  height: 97%;
}
